# Laravel & PHP
/vendor/
/.env
.phpunit.result.cache
Homestead.yaml
Homestead.json

# Laravel caches
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
bootstrap/cache/*

# Node & frontend build
/node_modules/
/public/build/
/public/hot
/public/storage
npm-debug.log
yarn-error.log
pnpm-debug.log

# IDEs & OS
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
